#set ($showemptysectionheaders = false)

#macro( showsection $rows $sectiontitle )
   #if ($rows && $rows.size() != 0)
       <p>$sectiontitle ($rows.size())</p>

       <blockquote>
       <table cellpadding="5">
         #foreach ($row in $rows.values())
         <tr>
           #set ($issuekey = $row.get("key"))

           ## Make this as compressed as possible for mobile phone views
           <td width="10%"><nobr><a href="$baseurl/browse/$issuekey">$issuekey</a></nobr>
             $row.get("summary")
             |$row.get("priority")
             |$row.get("status")
             |<nobr>$row.get("lastchangedby")</nobr>
             #if ($committers)
               $i18n.getText("mercurial.committed.by")$row.get("committers")
             #end
           </td>
         </tr>
         #end
       </table>
       </blockquote>
   #else
       #if ($showemptysectionheaders)
         <p>$sectiontitle (0)</p>
       #end
   #end
#end

##<p>$titleprefix$i18n.getText("mercurial.release.notes") - $reponame - $!otherParams.get('versionName')</p>
<p>$reponame $i18n.getText("mercurial.release.notes") - $!otherParams.get('versionName')</p>
##<hr width="50%" align="left">

#if ($sections.size() != 0)
   #showsection( $sections.get("New Feature") "New Features" )
   #showsection( $sections.get("Improvement") "Improvements" )
   #showsection( $sections.get("Bug") "Bugs" )
   #showsection( $sections.get("User Story") "User Stories" )
   #showsection( $sections.get("Task") "Tasks" )

   #foreach ($section in $sections.keySet())
      ## TODO not yet? checking $section
      #if (! $section.equals("New Feature") && ! $section.equals("Improvement") && ! $section.equals("Bug") && ! $section.equals("User Story") && ! $section.equals("Task") )
         #showsection( $sections.get($section) $section )
      #end
   #end

#end

#if ($warnings.size() != 0)
##<hr width="50%" align="left">
       <h4>$i18n.getText("admin.common.words.warning") ($warnings.size())</h4>

       <table>
         #foreach ($warning in $warnings)
         <tr>
           <td valign="top">${velocityCount}.</td>
           <td>$warning</td>
         </tr>
         #end
       </table>
#end

##<hr width="50%" align="left">
<p>$i18n.getText("template.common.created.on")&nbsp;$created 
  $i18n.getText("mercurial.start.word") 
  $!otherParams.get('start') 
  $i18n.getText("mercurial.end.word")
  $!otherParams.get('end') 
</p>

## TODO make the revision links go to a reduced shortlog range
## TODO add created by what
## TODO set reply-to or add contact info
