#controlHeader($action 'displayName' $i18n.getText("mercurial.repository.display.name") true $displayParameters.noHeader)
<input type="text" id="displayName" name="displayName" #if ($displayName) value="$textutils.htmlEncode( $displayName )" #end />
#controlFooter($action "" $displayParameter.noHeader)

<tr>
  <td colspan=2 bgcolor=f0f0f0><b>$i18n.getText("mercurial.repository.details")</b></td>
</tr>

<input type="hidden" id="subreposcmd" name="subreposcmd" value="unused">

#controlHeader($action 'root' $i18n.getText("mercurial.repository.root") true $displayParameters.noHeader)
<input type="text" id="root" name="root" #if ($root) value="$textutils.htmlEncode( $root )" #end size="60" />
#controlFooter($action $i18n.getText("mercurial.repository.root.description") $displayParameter.noHeader)

#controlHeader($action 'clonedir' $i18n.getText("mercurial.repository.clonedir") false $displayParameters.noHeader)
<input type="text" id="clonedir" name="clonedir" #if ($clonedir) value="$textutils.htmlEncode( $clonedir )" #end size="120" />
#controlFooter($action $i18n.getText("mercurial.repository.clonedir.description") $displayParameter.noHeader)

#controlHeader($action 'releasenotesemail' $i18n.getText("mercurial.repository.releasenotesemail") false $displayParameters.noHeader)
<input type="text" id="releasenotesemail" name="releasenotesemail" #if ($releasenotesemail) value="$textutils.htmlEncode( $releasenotesemail )" #end size="120" />
#controlFooter($action $i18n.getText("mercurial.repository.releasenotesemail.description") $displayParameter.noHeader)

#controlHeader($action 'revisionIndexing' $i18n.getText("mercurial.repository.revision.indexing") true $displayParameters.noHeader)
<input id="revisionIndexingTrue" type="radio" value="true" name="revisionIndexing" #if ($revisionIndexing) checked="checked" #end>&nbsp;<label for="revisionIndexingTrue">$i18n.getText("mercurial.repository.revision.indexing.enabled")</label>
&nbsp;
<input id="revisionIndexingFalse" type="radio" value="false" name="revisionIndexing" #if (!$revisionIndexing) checked="checked" #end>&nbsp;<label for="revisionIndexingFalse">$i18n.getText("mercurial.repository.revision.indexing.disabled")</label>
#controlFooter($action '' $displayParameter.noHeader)

#controlHeader($action 'revisionCacheSize' $i18n.getText("mercurial.repository.revision.cache.size") true $displayParameters.noHeader)
<input type="text" id="revisionCacheSize" name="revisionCacheSize" #if ($revisionCacheSize) value="$revisionCacheSize" #end />
#controlFooter($action $i18n.getText("mercurial.repository.revision.cache.size.description") $displayParameters.noHeader)

#controlHeader($action 'username' $i18n.getText("mercurial.repository.username") false $displayParameters.noHeader)
<input type="text" id="username" name="username" #if ($username) value="$textutils.htmlEncode( $username )" #end />
#controlFooter($action '' $displayParameters.noHeader)

#controlHeader($action 'password' $i18n.getText("mercurial.repository.password") false $displayParameters.noHeader)
<input type="password" id="password" name="password" />
#controlFooter($action '' $displayParameters.noHeader)

#controlHeader($action 'privateKeyFile' $i18n.getText("mercurial.repository.private.key.file") false $displayParameters.noHeader)
<input type="text" id="privateKeyFile" name="privateKeyFile" #if ($privateKeyFile) value="$textutils.htmlEncode( $privateKeyFile )" #end size="60" />
#controlFooter($action $i18n.getText("mercurial.repository.private.key.file.description") $displayParameters.noHeader)

<tr>
    <td colspan=2 bgcolor=f0f0f0><b>$i18n.getText("mercurial.repository.web.linking")</b></td>
</tr>

<script language="JavaScript" type="text/javascript">
    var webLinkTypes = new Array();
    #foreach ($webLinkType in $webLinkTypes)
        webLinkTypes["$webLinkType.key"] = new Array();
        webLinkTypes["$webLinkType.key"]["changesetFormat"] = '$action.escapeJavaScript( $webLinkType.changesetFormat )';
        webLinkTypes["$webLinkType.key"]["fileModifiedFormat"] = '$action.escapeJavaScript( $webLinkType.fileModifiedFormat )';
    #end

    function getHost(root)
    {
        var start = root.indexOf("://") + 3;
        if (start == 2) {
          start = 0;
        }
        return "http://" + root.substring(start);
    }

    function setWebLinkFormat(linkType, selectedType)
    {
        if (selectedType)
        {
            var webLink = webLinkTypes[selectedType][linkType];
            webLink = webLink.replace("\${root}", getHost(document.getElementById("root").value));
            document.getElementById(linkType).value = webLink;
        }
        else
        {
            document.getElementById(linkType).value = "";
        }
    }

    function handleWebLinkTypeChanged()
    {
        var typeSelector = document.getElementById('webLinkType');
        var selectedType = typeSelector.options[typeSelector.selectedIndex].value;
        setWebLinkFormat("changesetFormat", selectedType);
        setWebLinkFormat("fileModifiedFormat", selectedType);
    }
</script>

#controlHeader($action 'webLinkType' $i18n.getText("mercurial.repository.web.link.type") false $displayParameters.noHeader)
<select id="webLinkType" name="webLinkType" onchange="handleWebLinkTypeChanged();">
    <option>Choose a template</option>
    #foreach ($currentType in $webLinkTypes)
        <option value="$textutils.htmlEncode( $currentType.key )" #if ( $webLinkType && $webLinkType == $currentType.key ) selected="selected" #end>$textutils.htmlEncode( $currentType.name )</option>
    #end
</select>
#controlFooter($action $i18n.getText("mercurial.repository.web.link.type.description") $displayParameters.noHeader)

#controlHeader($action 'changesetFormat' $i18n.getText("mercurial.repository.changeset.format") false $displayParameters.noHeader)
<input type="text" id="changesetFormat" name="changesetFormat" #if ($changesetFormat) value="$textutils.htmlEncode( $changesetFormat )" #end  size="60"/>
#controlFooter($action '' $displayParameters.noHeader)

#controlHeader($action 'fileModifiedFormat' $i18n.getText("mercurial.repository.file.modified.format") false $displayParameters.noHeader)
<input type="text" id="fileModifiedFormat" name="fileModifiedFormat" #if ($fileModifiedFormat) value="$textutils.htmlEncode( $fileModifiedFormat )" #end  size="60"/>
#controlFooter($action '' $displayParameters.noHeader)
